/* fallback */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 300;
    src: url(/material_icons_rounded.woff2) format('woff2');
    font-display: block;
}

.material-symbols-rounded {

    --size: 24px;

    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: var(--size);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-user-select: none;

    aspect-ratio: 1;
    overflow: hidden;

    width: var(--size);
    height: var(--size);
}